html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

:root {
    --branco: #ffffff;
    --azul-escuro: #1c1c2e;
    --azul-escuro2: #33334d;
    --rosa: #e93f8c;
    --azul: #4deae4;
    --azul-2: #31c2bd;
    --roxo: #8f60ed;
    --cinza: #f4f4f4;
    --cinza-3: #828282;
    --roxo-escuro: #2b163f;

    --cabecalho-cor: var(--azul-escuro);
    --rodape-cor: var(--azul-escuro);
    --gradiente-roxo: linear-gradient(
        180deg,
        var(--roxo-escuro) 0%,
        #8f60ed00 100%
    );
}

/* HEADER
*************/

.header {
    background-color: var(--cabecalho-cor);
    padding: 11px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* APRESENTACAO
*************/

.formulario-final.apresentacao {
    background-color: var(--roxo-escuro);
    padding-bottom: 32px;
    padding-top: 110px;
}

.formulario-final.apresentacao::before,
.formulario-final.apresentacao::after {
    content: initial;
}

.formulario-final.apresentacao .formulario-container {
    background: linear-gradient(180deg, #33334d 0%, rgba(51, 51, 77, 0) 100%);
    border-color: #33334d;
}

/* PREVIA
*************/

.previa {
    position: relative;
    background-color: var(--roxo-escuro);
    color: var(--branco);
    z-index: 1;
    text-align: center;

    display: flex;
    flex-flow: column;
    gap: 88px;
    padding: 96px 12px 148px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.previa::before,
.previa::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
}

.previa::before {
    background-image: url('./img/background-icons.svg');
    background-attachment: fixed;
    opacity: 0.07;
    z-index: 2;
}

.previa::after {
    content: '';
    background: var(--gradiente-roxo);
    z-index: 3;
}

.previa h2 {
    font-size: 2.25rem;
}

.previa h2,
.previa iframe {
    position: relative;
    z-index: 4;
}

.previa iframe {
    width: 100%;
    height: 100vh;
    max-width: 678px;
    max-height: 382px;
}

/* AGENDA
*************/

.agenda {
    color: var(--roxo-escuro);
    padding: 126px 12px 134px;
    background-color: var(--cinza);
}

.agenda-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    max-width: 971px;
    margin: 0 auto;
    gap: 89px 0;
}

@media (max-width: 820px) {
    .agenda-container {
        grid-template-columns: auto;
        justify-content: center;
    }
}

.agenda-item {
    display: flex;
    flex-flow: column;
    gap: 18px;
    max-width: 371px;
}

.agenda-item .agenda-item {
    gap: 22px;
    margin-bottom: 22px;
}

.agenda-date {
    background-color: var(--azul-escuro2);
    color: var(--azul);
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900;
    border-radius: 28px;
    padding: 6px;
}
.agenda-date.live {
    background-color: var(--rosa);
    color: var(--azul-escuro2);
}

.agenda-date.mini {
    width: 170px;
    align-self: start;
    display: inline-block;
}

.agenda-title {
    font-size: 2.25rem;
    font-weight: 900;
    min-height: 176px;
}

.agenda-description {
    font-size: 1.125rem;
    font-weight: 400;
}

.agenda-link {
    width: 100%;
    max-width: 616px;
    height: 77px;
    background-color: var(--azul);
    color: var(--azul-escuro);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 19px 115px;
    border-radius: 5px;
    box-shadow: 0 8px var(--azul-2);
    box-sizing: border-box;
    display: inline-block;
    line-height: 1.8;
}

.agenda-link:hover {
    opacity: 0.8;
}

/* ELENCO
*************/

.elenco {
    padding: 132px 12px 129px;
    background-color: var(--roxo-escuro);
    color: var(--branco);
}

.elenco-titulo {
    font-size: 2.25rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 78px;
}

.elenco-container {
    max-width: 970px;
    margin: 0 auto;
}

.elenco-quadro {
    background-image: url('./img/fotos/Frame.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.elenco-item,
.certificado-title-container {
    display: grid;
    grid-template-columns: 270px 1fr;
    gap: 100px;
}

.elenco-nome {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 27px;
}

.elenco-descricao {
    font-size: 1.125rem;
    font-weight: 400;
}

.elenco-div {
    margin: 65px auto;
    max-width: 970px;
    border: 1px solid var(--azul-escuro2);
}

/* FORMULARIO FINAL
*************/

.formulario-final {
    position: relative;
    background-color: var(--roxo);
    color: var(--branco);
    z-index: 1;

    display: flex;
    gap: 74px;
    padding: 128px 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.formulario-final::before,
.formulario-final::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
}

.formulario-final::before {
    background-image: url('./img/background-icons.svg');
    background-attachment: fixed;
    opacity: 0.07;
    z-index: 2;
}

.formulario-final::after {
    content: '';
    background: linear-gradient(180deg, var(--roxo) 0%, #8f60ed00 100%);
    z-index: 3;
}

.formulario-final-descricao {
    position: relative;
    z-index: 4;
    max-width: 430px;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.formulario-final-descricao h2 {
    font-size: 3.75rem;
    font-weight: 900;
}

.formulario-final-descricao p {
    font-size: 1.5rem;
    font-weight: 400;
}

.formulario-final-descricao ul {
    font-size: 1.875rem;
    font-weight: 900;
    display: flex;
    gap: 33px;
    flex-flow: column;
}

.formulario-final-descricao li {
    display: grid;
    grid-template-columns: 66px 1fr;
    gap: 14px;
    align-items: center;
}

.formulario-final-descricao li img {
    justify-self: center;
}

/* FORM
*************/

.formulario-container {
    position: relative;
    z-index: 5;
    background: linear-gradient(180deg, #33334d 0%, rgba(51, 51, 77, 0) 100%);
    border-radius: 11px;
    padding: 41px 46px;
    text-align: center;
    border: 1px solid var(--azul-escuro);
}

.formulario-container::before,
.formulario-container::after {
    content: '';
    position: absolute;
    width: 54px;
    height: 54px;
}

.formulario-container::before {
    background-image: url('./img/shapes/Vector-1.svg');
    top: -27px;
    left: -27px;
}
.formulario-container::after {
    background-image: url('./img/shapes/Vector-2.svg');
    right: -27px;
    bottom: -27px;
}

.formulario-titulo {
    font-size: 2.25rem;
    font-weight: 900;
    margin-bottom: 45px;
}

.input-container {
    background-color: var(--azul-escuro);
    border-radius: 5px;
    margin-bottom: 23px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 29px 1fr;
    gap: 19px;
    padding: 20px 25px;
}

.input-container input {
    background-color: transparent;
    border: none;
    color: white;
}
.input-container input::placeholder {
    color: var(--cinza-3);
    font-size: 1.125rem;
}

.input-container input:focus {
    /* outline-color: rgba(255, 255, 255, 0.3); */
    /* outline-style: solid; */
    outline: none;
}

.formulario-container button {
    background-color: var(--azul);
    color: var(--azul-escuro);
    font-weight: 900;
    font-size: 1.5rem;
    border: none;
    padding: 19px 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 8px var(--azul-escuro);
}

.form-security-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    font-size: 0.875rem;
}

.form-list-item {
    display: flex;
    max-width: 169px;
    align-content: center;
    align-items: center;
    text-align: left;
    gap: 12px;
}

.checkbox-container {
    margin-top: 23px;
    font-size: 0.875rem;
    font-weight: 400;

    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container .checkmark {
    position: relative;
    display: inline-block;
    height: 21px;
    width: 21px;
    margin-right: 8px;
    background-color: var(--azul-escuro2);
    border-radius: 4px;
    vertical-align: middle;
    border: 2px solid var(--cinza-3);
}

.checkmark::after {
    content: '';
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark::after {
    display: block;
}
.checkbox-container .checkmark::after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* FOOTER
*************/

.footer {
    padding: 92px 12px 0;
    text-align: center;
    background-color: var(--rodape-cor);
    color: var(--branco);
}

.footer-certificado {
    gap: 40px;
    padding: 39px 0 22px;
    font-size: 1.5rem;
    font-weight: 600;
}

.footer-certificado,
.footer-certificado-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-certificado-div {
    width: 1px;
    height: 54px;
    background-color: var(--cinza);
}

.footer-certificado-nomes {
    display: inline-block;
    max-width: 320px;
}

.footer-certificado-logos {
    gap: 30px;
}

.footer-descricao {
    max-width: 800px;
    height: 97px;
    margin: 0 auto;
    font-size: 0.875rem;
}

.footer-div {
    margin: 43px auto;
    max-width: 970px;
    border: 1px solid var(--azul-escuro2);
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
}

.social-item {
    position: relative;
    border: 2px solid var(--azul-escuro2);
    border-radius: 50px;
    width: 51px;
    height: 51px;
}

.social-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tw-footer {
    padding: 33px 0 71px;
    font-size: 0.75rem;
}

/*



























*/

@media (max-width: 820px) {
    html {
        font-size: 12px;
    }

    .desktop-only {
        display: none;
    }

    .previa,
    .elenco,
    .formulario-final,
    .agenda {
        padding: 31px 12px;
    }

    .formulario-final.apresentacao {
        padding-top: 80px;
    }

    .formulario-final.apresentacao h1 {
        text-align: center;
    }
    .formulario-final.apresentacao h1 img {
        max-width: 250px;
    }

    .formulario-final-descricao p {
        text-align: center;
        font-size: 16px;
    }

    .formulario-final ul {
        gap: 9px;
        flex-flow: row;
        justify-content: center;
    }

    .formulario-final li {
        gap: 9px;
        font-size: 12px;
        grid-template-columns: 40px 1fr;
    }

    .formulario-final-descricao li:nth-child(1) img {
        width: 23px;
    }
    .formulario-final-descricao li:nth-child(2) img {
        /* width: 20px; */
    }

    .previa h2,
    .elenco h2,
    .formulario-final h2,
    .agenda h2 {
        font-size: 24px;
        text-align: center;
    }

    .previa {
        gap: 52px;
    }

    .previa iframe {
        width: 100%;
        height: 100vh;
        max-width: 320px;
        max-height: 160px;
    }

    .agenda-container {
        gap: 42px;
    }

    .agenda-title {
        font-size: 24px;
        min-height: initial;
    }

    .agenda-date {
        font-size: 18px;
        padding: 12px;
    }

    .agenda-item {
        gap: 12px;
        text-align: center;
    }

    .agenda-item ul li .mini {
        align-self: center;
    }

    .agenda-item .agenda-item .agenda-description {
        font-size: 18px;
        font-weight: 500;
    }

    .agenda-item ul .agenda-item {
        background-color: var(--azul-escuro2);
        border-radius: 10px;
        color: var(--branco);
        padding: 23px 15px 36px;
        gap: 0;
    }

    .agenda ul ~ div {
        margin-top: 12px !important;
    }

    .agenda-link {
        font-size: 14px;
        padding: 8px;
        height: auto;
    }

    .elenco {
        padding-bottom: 60px;
    }

    .elenco-quadro {
        background-size: contain;
        width: 152px;
        height: 152px;
        margin: 0 auto;
    }

    .elenco-quadro img {
        width: 106px;
        height: 106px;
        object-fit: contain;
    }

    .elenco-div {
        margin: 30px auto 0;
    }

    .elenco-item,
    .certificado-title-container {
        grid-template-columns: 1fr;
        gap: 24px;
        justify-items: center;
    }

    .elenco-titulo {
        margin-bottom: 45px;
    }

    .elenco-nome,
    .elenco-descricao {
        text-align: center;
    }

    .elenco-nome {
        font-size: 24px;
    }

    .elenco-descricao {
        font-size: 14px;
    }

    .formulario-titulo {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .formulario-container button,
    .formulario-final {
        gap: 50px;
    }

    .formulario-container {
        padding: 24px 14px;
    }

    .formulario-container::before {
        top: -1px;
        left: -1px;
    }
    .formulario-container::after {
        right: -1px;
        bottom: -1px;
    }

    .input-container {
        padding: 10px 15px;
        margin-bottom: 16px;
    }

    .formulario-container button {
        font-size: 18px;
    }

    .form-list-item img {
        width: 20px;
    }

    .formulario-container .footer-div {
        margin: 22px 0;
    }

    .formulario-final {
        flex-flow: column;
        align-items: center;
    }

    .footer img:first-child {
        width: 157px;
    }

    .footer {
        padding-top: 46px;
        text-align: center;
    }

    .footer .social-list img {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 430px) {
    .formulario-final > ul {
        flex-flow: column;
    }
}
