html {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

ul,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --branco: #ffffff;
    --azul-escuro: #1c1c2e;
    --azul-escuro2: #33334d;
    --rosa: #e93f8c;
    --azul: #4deae4;
    --roxo: #8f60ed;
    --cinza: #f4f4f4;
    --roxo-escuro: #2b163f;

    --cabecalho-cor: var(--azul-escuro);
    --rodape-cor: var(--azul-escuro);
}

/* HEADER
*************/

.header {
    background-color: var(--cabecalho-cor);
    padding: 11px;
    text-align: center;
}

/* APRESENTACAO
*************/

/* PREVIA
*************/

.previa {
    position: relative;
    background-color: var(--roxo-escuro);
    color: var(--branco);
    z-index: 1;
    text-align: center;

    display: flex;
    flex-flow: column;
    gap: 88px;
    padding: 96px 12px 148px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.previa::before,
.previa::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
}

.previa::before {
    background-image: url('./img/background-icons.svg');
    opacity: 0.07;
    z-index: 2;
}

.previa::after {
    content: '';
    background: linear-gradient(180deg, var(--roxo-escuro) 0%, #8f60ed00 100%);
    z-index: 3;
}

.previa h2 {
    font-size: 36px;
}

.previa h2,
.previa iframe {
    position: relative;
    z-index: 4;
}

.previa iframe {
    width: 100%;
    height: 100vh;
    max-width: 678px;
    max-height: 382px;
}

/* AGENDA
*************/

/* ELENCO
*************/

.elenco {
    padding: 132px 12px 129px;
    background-color: var(--roxo-escuro);
    color: var(--branco);
}

.elenco-titulo {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 78px;
}

.elenco-container {
    max-width: 970px;
    margin: 0 auto;
}

.elenco-quadro {
    background-image: url('./img/fotos/Frame.svg');
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.elenco-item,
.certificado-title-container {
    display: grid;
    grid-template-columns: 270px 1fr;
    gap: 100px;
}

.elenco-nome {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 27px;
}

.elenco-descricao {
    font-size: 18px;
    font-weight: 400;
}

.elenco-div {
    margin: 65px auto;
    max-width: 970px;
    border: 1px solid var(--azul-escuro2);
}

/* FORMULARIO FINAL
*************/

.formulario-final {
    position: relative;
    background-color: var(--roxo);
    color: var(--branco);
    z-index: 1;

    display: flex;
    gap: 74px;
    padding: 128px 12px;
    justify-content: center;
    flex-wrap: wrap;
}

.formulario-final::before,
.formulario-final::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
}

.formulario-final::before {
    background-image: url('./img/background-icons.svg');
    opacity: 0.07;
    z-index: 2;
}

.formulario-final::after {
    content: '';
    background: linear-gradient(180deg, var(--roxo) 0%, #8f60ed00 100%);
    z-index: 3;
}

.formulario-final-descricao {
    position: relative;
    z-index: 4;
    max-width: 430px;
    display: flex;
    flex-flow: column;
    gap: 40px;
}

.formulario-final-descricao h2 {
    font-size: 60px;
    font-weight: 900;
}

.formulario-final-descricao p {
    font-size: 24px;
    font-weight: 400;
}

.formulario-final-descricao ul {
    font-size: 30px;
    font-weight: 900;
    display: flex;
    gap: 33px;
    flex-flow: column;
}

.formulario-final-descricao li {
    display: grid;
    grid-template-columns: 66px 1fr;
    gap: 14px;
    align-items: center;
}

.formulario-final-descricao li img {
    justify-self: center;
}

/* FOOTER
*************/

.footer {
    padding: 92px 12px 0;
    text-align: center;
    background-color: var(--rodape-cor);
    color: var(--branco);
}

.footer-certificado {
    gap: 40px;
    padding: 39px 0 22px;
    font-size: 24px;
    font-weight: 600;
}

.footer-certificado,
.footer-certificado-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-certificado-div {
    width: 1px;
    height: 54px;
    background-color: var(--cinza);
}

.footer-certificado-nomes {
    display: inline-block;
    max-width: 320px;
}

.footer-certificado-logos {
    gap: 30px;
}

.footer-descricao {
    max-width: 800px;
    height: 97px;
    margin: 0 auto;
    font-size: 14px;
}

.footer-div {
    margin: 43px auto;
    max-width: 970px;
    border: 1px solid var(--azul-escuro2);
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 18px;
    flex-wrap: wrap;
}

.social-item {
    position: relative;
    border: 2px solid var(--azul-escuro2);
    border-radius: 50px;
    width: 51px;
    height: 51px;
}

.social-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tw-footer {
    padding: 33px 0 71px;
    font-size: 12px;
}
